.mydark{
    background-color: black;
}
.mydark > .panel-heading > h2{
    color: green !important;
}
.btn{
    color: white;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
}

.container{
    margin-left: 25%;
}
.row > button{
    margin-left: 3% !important;
}